#empleado-ventas {
  margin: 10px;
  margin-top: 0;

  .title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .venta-id {
      font-size: 20px;
      margin-right: 10px;
      color: #912a2a;
    }

  }

}