#nota-venta-print {
  margin: 20px;
  display: none;

  .margin-top-none {
    margin-top: 0;
  }

  .margin-bottom-none {
    margin-bottom: 0;
  }
  .text-right {
    text-align: right;
  }

  .table {
    margin-top: 25px;
    border: 1px solid darkgrey;
    border-radius: 15px;
  }

  @media print {
    display: block;
  }

  .print-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }

  .img-circle {
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    display: flex;
    padding: 22px 15px;
    width: 150px;
    height: 150px;

    img {
      height: 100px;
      width: 100%;
    }

  }


  td[colspan="2"] {
    text-align: center;
  }

  .print-total h6 {
    font-weight: bold;
  }

  .contacto-links {
    font-size: 20px;
    margin: 0;
  }

  .info-de-cliente {
    border: 2px dashed darkgrey;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    padding-left: 20px;
    width: 90%;
    margin-top: 50px;
    margin-left: 5%;

    h4 {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  .info-de-cliente p {
    font-size: 20px;
  }

}