@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#nota-venta-print {
  font-family: 'Roboto', sans-serif;
  color: #333;
  line-height: 1.6;
  margin: 20px;
  margin-left: 40px; // Añadir margen a la izquierda
  display: none;
  position: relative;

  .margin-top-none {
    margin-top: 0;
  }

  .margin-bottom-none {
    margin-bottom: 0;
  }

  .text-right {
    text-align: right;
  }

  .table {
    margin-top: 25px;
    border: 1px solid darkgrey;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Añadir sombra suave

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        padding: 10px;
        border: 1px solid #ddd;
      }

      th {
        background-color: #b0c4de;  // Azul marino bajito
        text-align: center;  // Centrar títulos
        font-weight: 700; // Negrita
      }

      td:nth-child(3),
      td:nth-child(4),
      td:nth-child(5) {
        text-align: left;  // Alinear contenido de descuento, precio unitario y total a la izquierda
      }

      tfoot {
        font-weight: bold;

        h6 {
          margin: 0;
        }

        .print-total {
          font-size: 16px;
          color: #1b4d89;  // Azul marino
        }
      }
    }
  }

  @media print {
    display: block;
  }

  .print-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;

    h1 {
      font-size: 24px;
      color: #1b4d89; // Azul marino
      font-weight: 700; // Negrita
    }

    h3 {
      font-size: 18px;
    }
  }

  .print-left,
  .print-right {
    width: 45%;
  }

  .img-circle {
    border: 1px solid white;
    border-radius: 50%;
    background: white;
    display: flex;
    padding: 20px;
    width: 180px; // Hacer más ancho el contenedor del logo
    height: 150px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); // Añadir sombra suave

    img {
      max-height: 100%;
      width: 100%; // Ajustar proporción del logo
      object-fit: contain;  // Ajustar proporción del logo
    }
  }

  .contacto-links {
    font-size: 20px;
    color: #1b4d89; // Azul marino
    text-decoration: none;
    margin: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  td[colspan="2"] {
    text-align: center;
  }

  .print-total h6 {
    font-weight: bold;
  }

  .header-info {
    margin-bottom: 20px;

    p {
      font-size: 16px;
      margin: 0;
      font-weight: 400;
    }
  }

  .payment-method {
    text-align: center;
    font-size: 16px;
    color: #1b4d89; // Azul marino
    font-weight: 700;
    margin-bottom: 10px;
  }
}