#ventas {

  .ventas {
    &__header {
      display: flex;
      align-items: baseline;

      h5 {
        margin: 0 15px;
      }

    }
  }

  .reset-btn {
    cursor: pointer;
    text-transform: uppercase;
  }

  .message {
    padding: 10px;
    margin: 0 20px;
    position: fixed;
    left: 50%;
    top: 30px;
    transform: translateX(-50%);
  }

  .filter-headers {
    display: flex;
    align-items: baseline;

    div.col {
      margin-left: 10px;
      margin-right: 10px;
    }
  }

  .sales-form {
    position: relative;

    .sale-edit-mode-actions {
      .delete {
        position: absolute;
        top: 0;
        right: 5px;
        color: #b71c1c;
        cursor: pointer;

        i {
          vertical-align: bottom;
        }

      }
    }

  }

  .sale-edit-mode-actions {
    button, a {
      margin: 0 25px;
    }
  }

  .main-header {
    >li> .collapsible-header {
      background: #b3e5fc;
    }
  }

  .employee-header-sumary {
    display: flex;
    justify-content: space-between;
    width: 100%;


    .sumary-el {
      padding: 0 3px;
      display: inline-block;
      word-break: break-word;
      text-align: end;

      &.s-w {
        width: 80px;
      }

      &.m-w {
        width: 130px;
      }

      &.ll-w {
        width: 200px;
      }

      &.l-w {
        width: 226px;
      }

      &.editing {
        background-color: #26a69a;
        color: white;
        padding: 3px 8px;
        text-align: center;
        font-weight: 500;
        border-radius: 3px;
        margin: 0 5px;
      }
    }
  }

}