
.text-centered {
  text-align: center;
}

.error-msg {
  color: white;
  padding: 10px;
  margin: 10px;
  font-weight: 700;
}

.success-msg {
  padding: 10px;
  margin: 10px;
  font-weight: 700;
}

table.row-hover {
  tbody {
    tr {
      &:hover {
        background-color: #f9fbe7;
      }
    }
  }

}