.select-wrapper {
  position: relative;

  svg {
    position: absolute;
    top: 15px;
    right: 0;    
  }

}

a.disabled, div.disabled {
  color: #b3b2b2 !important;
  cursor: default;
}

ul.dropdown-content.select-dropdown {
  top: 0 !important;
}

button {
  i {
    vertical-align: top;
    padding-right: 5px;
  }
}