@import './core/styles/globals.scss';
@import './core/styles/inputs.scss';
@import './core/styles/fonts.scss';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  .btn:focus {
    border: 1px solid white;
    border-radius: 5px;
  }

  a:focus {
    border: 1px solid white;
    border-radius: 5px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
